header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00A6b3;
	color: #FFFFFF;
	padding: 20px 0;
}

nav a {
	color: #FFFFFF;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px 0 8px;
}

h1 {
	font-family: Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	font-family: Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

a {
	font-family: Raleway;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

body {
	text-align: center;
	margin: 0;
}

p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}

h1, h2, a {
	text-transform: uppercase;
	text-decoration: none;
}

button {
	color: #FFFFFF;
	font-family: Raleway;
	font-size: 10px;
	background-color: #F15B31;
	width: 100px;
	height: 25px;
	margin: 20px auto 10px;
	font-style: bold;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	font-family: Raleway;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

a:hover {
	border-color: #FFFFFF;
}